<form (submit)="onSave()" [formGroup]="form" method="post">
  <mat-grid-list cols="3">
    <mat-grid-tile>
      <app-account-data [parrentForm]="form"></app-account-data>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="student-card">
        <app-personal-data [parrentForm]="form"></app-personal-data>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-address [parrentForm]="form"></app-address>
    </mat-grid-tile>
  </mat-grid-list>
  <button mat-raised-button color="accent" type="submit">Save</button>
</form>