<button type="button" mat-button (click)="drawer.toggle()">
  <mat-icon>menu</mat-icon>
</button>
<mat-drawer-container class="teachercontainer" autosize>
<mat-drawer #drawer class="teacher-sidenav" mode="side" opened="true">
    <button mat-button [matMenuTriggerFor]="teacherMenu">Menu</button>
    <br>
    <mat-menu #teacherMenu="matMenu">
      <button mat-menu-item routerLink = "teacherSubjects">My Current Subjects</button><br>
      <button mat-menu-item routerLink="">Ishodi??</button><br>
      <button mat-menu-item routerLink="">Create exam types</button><br>
      <button mat-menu-item routerLink="">Enter grades</button><br>
      <button mat-menu-item routerLink="">Create notifications</button><br>
      <button mat-menu-item routerLink="">Students on my subjects</button><br>
      <button mat-menu-item routerLink="">Search students</button><br>
      <button mat-menu-item routerLink="">Forum</button><br>
      <button mat-menu-item routerLink="">Messages</button><br>
    </mat-menu>
</mat-drawer>

<div class="teacher-sidenav-content">
  <router-outlet></router-outlet>
</div>

</mat-drawer-container>
