<app-toolbar></app-toolbar>

<mat-drawer-container class="main-container" autosize>
    <mat-drawer #drawer class="main-sidenav" mode="side" [(opened)]="opened" opened="true">
        <app-admin-sidenav *ngIf="(roles.indexOf('ROLE_ADMINISTRATOR') >= 0)"></app-admin-sidenav>
        <app-administrative-staff-sidenav *ngIf="(roles.indexOf('ROLE_ADMINISTRATIVE_STAFF') >= 0)"></app-administrative-staff-sidenav>
        <app-student-sidenav *ngIf="(roles.indexOf('ROLE_STUDENT') >= 0)"></app-student-sidenav>
        <app-teacher-sidenav *ngIf="(roles.indexOf('ROLE_TEACHER') >= 0)"></app-teacher-sidenav>
    </mat-drawer>

    <button type="button" mat-button (click)="drawer.toggle()"
        *ngIf="(roles.indexOf('ROLE_ADMINISTRATOR') >= 0) || (roles.indexOf('ROLE_ADMINISTRATIVE_STAFF') >= 0) || (roles.indexOf('ROLE_STUDENT') >= 0) || (roles.indexOf('ROLE_TEACHER') >= 0)">
        <mat-icon *ngIf="opened">arrow_back_ios</mat-icon>
        <mat-icon *ngIf="!opened">arrow_forward_ios</mat-icon>
    </button>

    <div class="main-sidenav-content">
        <router-outlet></router-outlet>
        <!--<router-outlet name="adminSidenav"></router-outlet>-->
    </div>
</mat-drawer-container>