<div class="example-container" [formGroup]="addEditTopicsForm">

  <mat-form-field>
    <mat-label>Subject</mat-label>
    <mat-select name = "subjectRealization" formControlName="subjectRealization">
      <mat-option *ngFor="let subjectRealization of subjectRealizations" [value]="subjectRealization">
        {{subjectRealization.subject.name}} {{subjectRealization.yearOfStudy.year}}. godina {{subjectRealization.yearOfStudy.studyProgram.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="accent" (click)="addWeek()">Add week</button>

  <mat-form-field>
    <mat-label>Week</mat-label>
    <mat-select name = "week" formControlName="week">
      <mat-option *ngFor="let week of weeks" [value]="week">
        {{week.weekNumber}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Topic" name="topic" formControlName="topic"></textarea>
  </mat-form-field>

  <div>
    <button mat-stroked-button type="button" (click)="filePicker.click()">Add icon</button>
    <input hidden type="file" #filePicker (change)="onImagePicked($event)">
    <mat-error>{{formError.mapErrors(addEditTopicsForm.get('icon'), 'Icon')}}</mat-error>
  </div>

  <div class="image-preview" *ngIf="iconPreview && iconPreview !== '' && addEditTopicsForm.get('icon').valid">
    <img [src]="iconPreview" alt="Can't display icon">
  </div>

  <br>

  <button mat-raised-button color="accent" (click)="addTopic()" [disabled]="!addEditTopicsForm.get('topic').value?.toString().trim() || !addEditTopicsForm.get('week').value">Add topic</button>

  <h3>Topics</h3>
  <mat-vertical-stepper #stepper>
    <ng-template matStepperIcon="edit" let-index="index">
      {{index + 1}}.
    </ng-template>
  
    <ng-template matStepperIcon="done" let-index="index">
      {{index + 1}}.
    </ng-template>

    <ng-template matStepperIcon="number" let-index="index">
      {{index + 1}}.
    </ng-template>

    <mat-step label="week" *ngFor="let week of weeks">
      <ol>
        <li *ngFor="let topic of week.topics">
          <div class="image-preview" *ngIf="topic[2]">
            <img [src]="topic[2]" alt="Can't display icon">
            {{topic[0].description}}
            <button mat-raised-button color="warn" (click)="openDialog(week, topic)" matTooltip="Delete">
              <mat-icon>delete</mat-icon>
              <!--Delete-->
            </button>
          </div>
          <div class="image-preview" *ngIf="topic[0].iconPath">
            <img [src]="fileUrl+topic[0].iconPath" alt="Can't display icon">
            {{topic[0].description}}
            <button mat-raised-button color="warn" (click)="openDialog(week, topic)" matTooltip="Delete">
              <mat-icon>delete</mat-icon>
              <!--Delete-->
            </button>
          </div>
          <div *ngIf="!topic[2] && !topic[0].iconPath">
            {{topic[0].description}}
            <button mat-raised-button color="warn" (click)="openDialog(week, topic)" matTooltip="Delete">
              <mat-icon>delete</mat-icon>
              <!--Delete-->
            </button>
          </div>
        </li>
      </ol>
    </mat-step>
  </mat-vertical-stepper>

  <button mat-raised-button color="accent" (click)="save()" [disabled]="!addEditTopicsForm.get('subjectRealization').value">Save topics</button>
</div>