<mat-card-title>Personal info</mat-card-title>
<div [formGroup]="personalDataForm">
  <mat-form-field>
    <input matInput name="personalNumber" type="number" placeholder="Personal number" formControlName="personalNumber">
    <mat-error *ngIf="personalDataForm.get('personalNumber').invalid">Please enter a valid personal number.</mat-error>
  </mat-form-field><br>
  <mat-form-field>
    <input matInput name="firstName" type="text" placeholder="First name" formControlName="name">
    <mat-error *ngIf="personalDataForm.get('name').invalid">Please enter a valid first name.</mat-error>
  </mat-form-field><br>
  <mat-form-field>
    <input matInput name="lastName" type="text" placeholder="Last name" formControlName="lastName">
    <mat-error *ngIf="personalDataForm.get('lastName').invalid">Please enter a valid last name.</mat-error>
  </mat-form-field><br>
  <div>
    <button mat-stroked-button type="button" (click)="filePicker.click()">Profile picture</button>
    <input hidden type="file" #filePicker (change)="onImagePicked($event)">
    <mat-error *ngIf="personalDataForm.get('profilePicturePath').invalid">Please select a valid image.</mat-error><br>
  </div>
</div>
<div class="image-preview" *ngIf="imagePreview && imagePreview !== '' && personalDataForm.get('profilePicturePath').valid">
  <img [src]="imagePreview" alt="Can't dispaly picture">
</div>