.example-container {
    display: flex;
    flex-direction: column;
}
  
.example-container > * {
    width: 100%;
}

/*table {
    width: 100%;
}*/

.example {
    /*width: 400px;*/
    max-width: 100%;
    /*margin: 0 25px 25px 0;*/
    display: inline-block;
    vertical-align: top;
    height: 100%;
  }
  
  .example-list {
    /*border: solid 1px #ccc;*/
    /*min-height: 100px;*/
    background: white;
    /*border-radius: 4px;*/
    overflow: hidden;
    display: block;
    height: 100%;
  }
  
  .example-box {
    padding: 20px 10px;
    /*border-bottom: solid 1px #ccc;*/
    border-bottom: solid 1px black;
    color: rgba(0, 0, 0, 0.87);
    /*display: flex;
    flex-direction: row;*/
    align-items: center;
    /*justify-content: space-between;*/
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  /*
  .example-box:last-child {
    border: none;
  }
  */
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .classSchedule tbody tr td {
    border: 1px solid black;
    vertical-align: top;
    height: 100px;
    padding: 0px;
  }

  .deleteButton {
    float: right;
  }

  .emptyListWidth {
    visibility: hidden;
  }