<div class="example-container" [formGroup]="classScheduleForm">
  <mat-form-field>
    <mat-label>Study program</mat-label>
    <mat-select name = "yearOfStudy" formControlName="yearOfStudy">
      <mat-option *ngFor="let yearOfStudy of yearsOfStudies" [value]="yearOfStudy" (click)="getTeacherRealizationsByYearOfStudy(yearOfStudy.id);">
        {{yearOfStudy.year}}. godina {{yearOfStudy.studyProgram.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Subject</mat-label>
    <mat-select name = "teacherRealization" formControlName="teacherRealization"  [(value)]="selectedTeacherRealization">
      <mat-option *ngFor="let teacherRealization of teacherRealizationsByYearOfStudy" [value]="teacherRealization">
        {{teacherRealization.subjectRealization.subject.name}} {{teacherRealization.teacher.personalData.firstName}} {{teacherRealization.teacher.personalData.lastName}} {{teacherRealization.teacher.accountData.email}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Day</mat-label>
    <mat-select name = "day" formControlName="day" [(value)]="selectedDay">
      <mat-option *ngFor="let day of days; let i = index" [value]="i">
        {{day}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="time" name="startTime" placeholder="Start time" formControlName="startTime">
    <mat-error *ngIf="classScheduleForm.get('startTime').invalid">Please enter the valid start time.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Classroom</mat-label>
    <mat-select name = "classroom" formControlName="classroom"  [(value)]="selectedClassroom">
      <mat-option *ngFor="let classroom of classrooms" [value]="classroom">
        {{classroom.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="accent" (click)="add()" [disabled]="classScheduleForm.invalid">Add</button>
</div>
<br>

<table class="classSchedule">
  <thead>
    <tr>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td *ngFor="let day of classSchedule | keyvalue">
        <div class="example">
          <div id="{{classSchedule.indexOf(day.value)}}" cdkDropList [cdkDropListData]="day.value" [cdkDropListConnectedTo]="['0', '1', '2', '3', '4', '5', '6']" class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="emptyListWidth">Wednesday</div>
            <div class="example-box" *ngFor="let item of day.value" cdkDrag>
              <div>
                {{item.teacherRealization.subjectRealization.subject.name}}
                <button class="deleteButton" mat-raised-button color="warn" (click)="openDialog(item.teachingTermId, item, day.value)" matTooltip="Delete">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
              <br>
              <div>{{item.teacherRealization.teacher.personalData.firstName}} {{item.teacherRealization.teacher.personalData.lastName}} {{item.teacherRealization.teacher.accountData.email}}</div>
              <br>
              <div>{{item.startTime.getHours()>=10 ? item.startTime.getHours() : '0'+item.startTime.getHours()}}:{{item.startTime.getMinutes()>=10 ? item.startTime.getMinutes() : '0'+item.startTime.getMinutes()}}-{{item.endTime.getHours()>=10 ? item.endTime.getHours() : '0'+item.endTime.getHours()}}:{{item.endTime.getMinutes()>=10 ? item.endTime.getMinutes() : '0'+item.endTime.getMinutes()}}</div>
              <br>
              <div>{{item.classroom.name}}</div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<br>
<button mat-raised-button color="accent" (click)="save()" [disabled]="!classScheduleForm.get('yearOfStudy').value">Save</button>