<button class="full-width" mat-button routerLink="currentSubjects" routerLinkActive="active-item">Current Subjects</button><br>
<button class="full-width" mat-button routerLink="pastSubjects" routerLinkActive="active-item">Previous Subjects</button><br>
<button class="full-width" mat-button routerLink="registerExam" routerLinkActive="active-item">Register Exam</button><br>
<button class="full-width" mat-button>Notifications</button><br>
<button class="full-width" mat-button routerLink="chat" routerLinkActive="active-item">Chat</button><br>
<button class="full-width" mat-button>Forum</button><br>