.popup {
    background-color: rgb(255, 255, 255, 1);
    border: 1px solid gray;
    border-radius: 5px;
}

.popup :before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-15px) rotate(45deg);
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    background-color: rgb(255, 255, 255, 1);
}