<div class="example-container" [formGroup]="examAddEditForm">

  <mat-form-field>
    <mat-label>Subject</mat-label>
    <mat-select name = "subjectRealization" formControlName="subjectRealization">
      <mat-option *ngFor="let subjectRealization of subjectRealizations" [value]="subjectRealization">
        {{subjectRealization.subject.name}} {{subjectRealization.yearOfStudy.year}}. godina {{subjectRealization.yearOfStudy.studyProgram.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Exam type</mat-label>
    <mat-select name = "examType" formControlName="examType">
      <mat-option *ngFor="let type of examTypes" [value]="type">
        {{type.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" name="points" placeholder="Points" formControlName="points">
    <mat-error *ngIf="examAddEditForm.get('points').invalid">Please enter the valid points.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" name="durationInMinutes" placeholder="Duration" formControlName="durationInMinutes">
    <span matSuffix>minutes</span>
    <mat-error *ngIf="examAddEditForm.get('durationInMinutes').invalid">Please enter the valid duration.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Topic" name="topic" formControlName="topic"></textarea>
  </mat-form-field>

  <button mat-raised-button color="accent" (click)="addTopic()" [disabled]="!examAddEditForm.get('topic').value?.toString().trim()">Add topic</button>

  <h3>Topics</h3>
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let topic of topics" cdkDrag>{{topic.description}}
      <button mat-raised-button color="warn" (click)="openDialog(topic)" matTooltip="Delete">
        <mat-icon>delete</mat-icon>
        <!--Delete-->
      </button>
    </div>
  </div>
  <br>
  <button mat-raised-button color="accent" (click)="add()" [disabled]="examAddEditForm.invalid">Save</button>
</div>