<button class="buttonBorder" mat-button routerLink="/register/administrativestaff" matTooltip="Add new administrative staff">
  <mat-icon>add</mat-icon>
</button>
<br><br>
<mat-form-field>
    <span matSuffix><mat-icon>search</mat-icon></span>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>
<div class="mat-elevation-z8">
  <table class="adminstaff-table" mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let i = index;"> {{i+1}} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First name </th>
      <td mat-cell *matCellDef="let administrativeStaffPerson"> {{administrativeStaffPerson.personalData.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last name </th>
      <td mat-cell *matCellDef="let administrativeStaffPerson"> {{administrativeStaffPerson.personalData.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="personalNumber">
      <th mat-header-cell *matHeaderCellDef> Personal number </th>
      <td mat-cell *matCellDef="let administrativeStaffPerson"> {{administrativeStaffPerson.personalData.personalNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="profilePicturePath">
      <th mat-header-cell *matHeaderCellDef> Profile picture path </th>
      <td mat-cell *matCellDef="let administrativeStaffPerson"> {{administrativeStaffPerson.personalData.profilePicturePath}} </td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef> Country </th>
      <td mat-cell *matCellDef="let administrativeStaffPerson"> {{administrativeStaffPerson.address.city.country.name}} </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> City </th>
      <td mat-cell *matCellDef="let administrativeStaffPerson"> {{administrativeStaffPerson.address.city.name}} </td>
    </ng-container>

    <ng-container matColumnDef="street">
      <th mat-header-cell *matHeaderCellDef> Street </th>
      <td mat-cell *matCellDef="let administrativeStaffPerson"> {{administrativeStaffPerson.address.street}} </td>
    </ng-container>

    <ng-container matColumnDef="streetNumber">
      <th mat-header-cell *matHeaderCellDef> Street number </th>
      <td mat-cell *matCellDef="let administrativeStaffPerson"> {{administrativeStaffPerson.address.number}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let administrativeStaffPerson"> {{administrativeStaffPerson.accountData.email}} </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let administrativeStaffPerson"> {{administrativeStaffPerson.accountData.username}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let administrativeStaffPerson"> 
        <button mat-raised-button color="warn" (click)="openDialog(administrativeStaffPerson.id)" matTooltip="Delete">
          <mat-icon>delete</mat-icon>
          <!--Delete-->
        </button>
        <button mat-raised-button color="accent" [routerLink]="['/edit/administrativestaff', administrativeStaffPerson.accountData.username]" matTooltip="Edit">
          <mat-icon>edit</mat-icon>
          <!--Edit-->
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator class="adminstaff-table" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>