<div class="address-div" [formGroup]="addressForm">
  <mat-card class="address-card">
    <mat-card-title>Address info</mat-card-title>
    <div formGroupName="city">
      <mat-form-field class="address-form">
        <input matInput type="text" name="city" placeholder="City" formControlName="name">
        <mat-error>{{formError.mapErrors(addressForm.get('city').get('name'), 'City')}}</mat-error>
      </mat-form-field><br>
      <div formGroupName="country">
        <mat-form-field class="address-form">
          <input matInput type="text" name="country" placeholder="Country" formControlName="name">
          <mat-error>{{formError.mapErrors(addressForm.get('city').get('country').get('name'), 'Country')}}</mat-error>
        </mat-form-field><br>
      </div>
    </div>
    <mat-form-field class="address-form">
      <input matInput type="text" name="text" placeholder="street" formControlName="street">
      <mat-error>{{formError.mapErrors(addressForm.get('street'), 'Street')}}</mat-error>
    </mat-form-field><br>
    <mat-form-field class="address-form">
      <input matInput type="text" name="number" placeholder="Street number" formControlName="number">
      <mat-error>{{formError.mapErrors(addressForm.get('number'), 'Street number')}}</mat-error>
    </mat-form-field><br>
  </mat-card>
</div>