<button class="full-width" mat-button [matMenuTriggerFor]="addMenu">Add</button>
<br>
<mat-menu #addMenu="matMenu">
  <!--<button mat-menu-item [routerLink]="[{ outlets: { adminSidenav: ['students'] } }]">Students</button>-->
  
  <button mat-menu-item [matMenuTriggerFor]="addUsersMenu">Users</button>
  <mat-menu #addUsersMenu="matMenu">
    <button mat-menu-item routerLink="register/student">Student</button>
    <button mat-menu-item routerLink="register/teacher">Teacher</button>
    <button mat-menu-item routerLink="register/administrativestaff">Administrative staff</button>
    <button mat-menu-item routerLink="register/administrator">Administrator</button>
  </mat-menu>

  <button mat-button routerLink="add/studyProgram">Study program</button>
</mat-menu>
<button class="full-width" mat-button [matMenuTriggerFor]="usersMenu">Users</button>
<br>
<mat-menu #usersMenu="matMenu">
  <!--<button mat-menu-item [routerLink]="[{ outlets: { adminSidenav: ['students'] } }]">Students</button>-->
  <button mat-menu-item routerLink="students">Students</button>
  <button mat-menu-item routerLink="teachers">Teachers</button>
  <button mat-menu-item routerLink="administrativeStaff">Administrative staff</button>
  <button mat-menu-item routerLink="administrators">Administrators</button>
</mat-menu>
<button class="full-width" mat-button routerLink="subjects" routerLinkActive="active-item">Subjects</button>
<br>
<button class="full-width" mat-button routerLink="studyPrograms" routerLinkActive="active-item">Study programs</button>
<br>
<button class="full-width" mat-button routerLink="classSchedule" routerLinkActive="active-item">Class schedule</button>
<br>
<button class="full-width" mat-button routerLink="chat" routerLinkActive="active-item">Chat</button>